@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --text: clamp(12px, 4em, 16px);
    --text-small: calc(var(--text) * 0.8);
    --nav-text: calc(var(--text) * 1.15);
}

body {
    background-color: rgb(244, 244, 244);
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: var(--text);
    margin: 0vw;
    width: 100vw;
}

.toggle-mode {
    background-color: #222;
    color: #fff;
}

.toggle-mode #content a {
    color: #00ffff;
}

#content {
    overflow: hidden;
    margin: 4vh calc(var(--text-small) * 3);
    min-height: calc(100vh - (var(--nav-text) + 72px) - calc(var(--text-small) * 8));
}

.social-row {
    display: inline;
    margin: 0;
    padding: 0;
}

.social-button {
    display: inline-block;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    margin: 1vh 1vw 1vh 0;
    padding: 0px 8px;
}

.social-button p{
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: #000;
}

.fa {
    vertical-align: middle;
    text-decoration: none;
    padding-right: 8px;
    color: #000;
  }

/* -- Navigation Bar. -- */
nav {
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color: #333;
    padding: 20px 20px;
    font-size: var(--nav-text);
}

button {
    /* Position on right */
    float: right;
    /* Width */
    min-width: 5vw;
    /* Height, enforce same size */
    min-height: 36px;
    /* Margin to enforce distance between buttons */
    margin: 2px 8px;
    background: rgba(255, 255, 255, 0.0);
    /* Rounded effect */
    border: 1.5px solid #aaa;
    border-radius: 10px;
    color: #fff;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 8px;
}

nav a:hover {
    color: #add8e6;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    /* The first 2 children are the menu buttons! */
    nav a:not(:nth-child(3)) {display: none;}
    nav button.icon {
        float: right;
        display: block;
    }

    nav button {
        min-width: 50px;
    }
    
    nav.responsive {position: relative;}
    nav.responsive .icon {
        position: sticky;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Footer */
#footer-wrap {
    margin: 0px 40px;
}

footer {
    height: calc(var(--text-small) * 3);
    width: 100%;
    margin: 0px;
    font-size: var(--text-small);
}